.formContact{
    padding-top: 76px;
    padding-inline: 130px;
    padding-bottom: 47px;
}

.formContact h2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    color: #1F1D1B;
    padding-bottom: 20px;
}

.contactanos{
    margin-inline: 130px;
    margin-bottom: 102px;
}

.contactanosTexto{
    height: 475px;
    background-image: url(../assets/foto-banner.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactanosTexto h2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    padding-bottom: 44px;
    text-align: center;
    color: #1F1D1B;
}

.contactanosTexto .btn{
    margin-inline: auto;
    width: 226px;
    height: 45px;
    background-color: #50D32D;
    color: #fff;
    border-radius: 10px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btnHover:hover{
    background-color: #50D32D;
    color: #1F1D1B;
}

@media (max-width: 756px) {
    .formContact{
        padding-inline: 10%;
    }
    .mapBox{
        margin: auto;
    }
    iframe{
        max-width: 300px;
    }
    .formContactBox{
        margin: auto;
        margin-bottom: 60px;
    }
    .contactanos{
        margin-inline: 10%;
    }
}